body{
  font-family: 'Nunito';
}

.center{
  text-align: center;
}

h3{
  padding-top: 5px;
  color: #6A8520;
}

.inline-block {
  display: inline-block;
}

.max-width-320 {
  max-width: 320px;
}

#chosen-char {
  border: 1px solid grey;
}

.hide {
  display: none;
}

#sticky-buttons {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}


.btn {
  margin: 5px 20px;
  padding: 18px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#suggest-btn {
  background-color: #39e600;
  color: white;
}
#suggest-btn:hover {
  background-color: #33cd00;
}

#start-chat-btn {
  background-color: #1f66e5;
  color: white;
}
#start-chat-btn:hover {
  background-color: #185bd2;
}

#practice-mode-btn:hover {
  background-color: #ccc;
}

.disabled {
  opacity: 0.1 !important;
  cursor: not-allowed;
}

#looking-for-someone{
  color: blue;
  font-size: 26px;
  font-weight: bold;
}

#chat-container {
    max-width: 600px;
    margin: 30px auto 0 auto;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
}

#chat-window {
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 6px 0px;
    margin: 0 20px;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 6px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#send-message-btn{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
}


/* Media Queries */

/* shrink buttons when width is too small OR (if very wide AND small height) */
@media only screen and (max-width: 900px), (min-width: 601px) and (max-height: 500px) {
  .small-btn {
    margin: 2px 3px;
    padding: 2px 3px;
  }

  #end-chat-btn {
    float: right;
  }

  #send-message-btn{
    padding: 5px;
    font-size: 16px;
  }
}
